// general
*{
    all: unset;
}

window {
    background-color: #2e3440;
    color: #e5e9f0;
    font-family: monospace;
}

button {
    all: unset;
    //background-color: #2e3440;
    padding: 20px;
}

.main_box {
    border-width: 3px;
    border-style: solid;
    border-color: #3b4252;
    border-radius: 12px;
}

.vol { 
    border-width: 3px;
    border-style: solid;
    border-color: #3b4252;
    border-radius: 12px;
}

//player
.player {
  background-color: #232831;
  border-radius: 12px; 
  //border-top-width: 5px;
  //border-style: solid;
  //border-color: #66cccc;
  margin: 40px 10px 40px 10px;
  //width: 250px;
}
.musicart {
  background-size: 100px;
  background-repeat: no-repeat;
  min-height: 100px;
  min-width: 100px;
  margin: 30px;
  border-radius: 12px;
  // padding: 10px;
}

.musictitle {
  font-size: 15px;
  font-weight: bold;
  //margin-top: 80px;
  margin-bottom: 10px;
  margin-right: 30px;
  color: #a3be8c;
}

.musicalbum {
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 30px;
    //color: #8fbcbb;
}

.musicartist {
  font-size: 12px;
  margin-bottom: 0px; 
  margin-right: 30px;
  //color: #88c0d0;
}

.musictime {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  color: #88c0d0;
}

.musicbtn {
  margin-right: 30px;
}

.musicbtn button {
  font-size: 16px;
  font-family: icons;
  color: #434c5e;
}

.musicbtn button:hover {
  color: #bf616a;
}

.music-info scale trough highlight {
  all: unset;
	background-color: #8fbcbb;;
	color: #000000;
	border-radius: 50px;
}

.music-info scale trough {
	all: unset;
	background-color: #434c5e;
	border-radius: 20px;
	min-height: 15px;
  min-width: 50px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 20px;
}


//weather
.weather {
  background-color: #232831;
  border-radius: 12px;
  //border-top-width: 5px;
  //border-style: solid;
  //border-color: #66cccc;
  margin: 40px 0px 40px 0px;
}
.weather-icon {
  font-size: 126px;
  font-family: icons;
  margin: 30px 0px 5px 30px;
  padding-bottom: 15px;
}
.weather-stat-side {
  font-size: 28px;
  padding-top: 15px;
  //padding-bottom: 5px;
  font-weight: bold;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #88c0d0;
}
.weather-quote1 {
  font-size: 18px; 
  //color: #8fbcbb;
  margin-right: 15px;
  padding-top: 10px;
}

.temperature-side {
  //font-family: icons;
  font-size: 34px;
  font-weight: 900;
  //margin: 30px;
  margin-top: 45px;
  margin-bottom: 15px;
  margin-right: 10px;
  //color: #88c0d0;
}

.thermometer {
  font-family: icons;
  font-size: 34px;
  font-weight: 900;
  margin-top: 45px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: #d08770;
}

//system-info
.sliders-side {
  all: unset;
  background-color: #232831;
  border-radius: 12px; 
  //border-top-width: 5px;
  //border-style: solid;
  //border-color: #66cccc;
  margin: 40px 40px 40px 20px;
  font-family: icons;
}

.slider-ram-side scale trough highlight {
  all: unset;
	background-color: #ebcb8b;;
	color: #000000;
	border-radius: 50px;
}

.slider-ram-side scale trough {
	all: unset;
	background-color: #434c5e;
	border-radius: 20px;
	min-height: 15px;
  min-width: 100px;
  margin-top: 15px;
  margin-left: 11px;
  margin-right: 30px;
}

.label-ram-side {
  font-size: 42px;
  margin-left: 30px;
  color: #ebcb8b;
}

.slider-cpu-side scale trough highlight {
  all: unset;
	background-color: #b48ead;;
	color: #000000;
	border-radius: 50px;
}

.slider-cpu-side scale trough {
	all: unset;
	background-color: #434c5e;
	border-radius: 20px;
	min-height: 15px;
  min-width: 100px;
  margin-top: 15px;
  margin-left: 11px;
  margin-right: 20px;
}

.label-cpu-side {
  font-size: 42px; 
  margin-left: 30px; 
  margin-right: 20px;
  margin-top: 35px;
  color: #b48ead;
}

.slider-hdd-side scale trough highlight {
  all: unset;
	background-color: #a3be8c;
	color: #000000;
	border-radius: 50px;
}

.slider-hdd-side scale trough {
	all: unset;
	background-color: #434c5e;
	border-radius: 20px;
	min-height: 15px;
  min-width: 100px;
  margin-bottom: 15px;
  margin-left: 11px;
  margin-right: 20px;
}

.label-hdd-side {
  font-size: 42px;
  margin-bottom: 30px;
  margin-left: 13px; 
  margin-right: 20px;
  color: #a3be8c;
}

//profile
.profile {
  background-color: #232831;
  border-radius: 12px; 
  //border-top-width: 5px;
  //border-style: solid;
  //border-color: #66cccc;
  margin: 40px 20px 40px 40px;
  //width:  300px;
}
.pfp {
  //background-image: url("/var/lib/AccountsService/icons/barbarossa.png");
  //background-repeat: no-repeat;
  //background-size: 300px;
  //min-height: 300px;
  //min-width: 300px;
  margin: 30px 30px 30px 30px;
  border-radius: 300px;
}
.pfptxt {
  //margin-top: 0px;
  color: #81a1c1;
  font-size: 36px;
  margin: 0px 30px 0px 30px;
}
.subpfptxt {
  margin-bottom: 30px;
  font-size: 24px;
  //color: #5e81ac;
}

//launch
.launch {
  background-color: #232831;
  border-radius: 12px;
  //border-top-width: 5px;
  //border-style: solid;
  //border-color: #66cccc;
  margin: 40px 20px 40px 20px;
  font-family: icons;
  font-size: 30px;
  color: #4c566a;
}

.launch1 {
  background-color: #232831; 
  margin: 50px 30px 15px 30px; 
}

.internet:hover {
  color: #d08770;
}

.mail:hover {
  color: #81a1c1;
}

.music:hover {
  color: #a3be8c;
}

.file:hover {
  color: #bf616a;
}

.editor:hover {
  color: #b48ead;
}

.launch2 {
  background-color: #232831;
  margin: 50px 30px 15px 30px;
}

.discord:hover {
  color: #ebcb8b;
}

.terminal:hover {
  color: #e5e9f0;
}

//vol
.vol scale trough highlight {
  all: unset;
	background-color: #88c0d0;
	color: #000000;
	border-radius: 100px;
}

.vol scale trough {
	all: unset;
	background-color: #434c5e;
	border-radius: 50px;
	min-height: 35px;
  min-width: 60px;
  margin: 30px;
}

.vol-icon {
  font-family: icons;
  font-size: 20px; 
  margin-top: 80px; 
  //margin-right: 9px;
  color: #88c0d0;
}

//bright
.bright scale trough highlight {
  all: unset;
	background-color: #ebcb8b;
	color: #000000;
	border-radius: 100px;
}

.bright scale trough {
	all: unset;
	background-color: #434c5e;
	border-radius: 50px;
	min-height: 35px;
  min-width: 60px;
  margin: 30px;
}

.bright-icon {
  font-family: icons;
  font-size: 26px; 
  margin-top: 40px; 
  //margin-right: 9px;
  color: #ebcb8b;
}

//bottom-border
.border {
  background-color: #3b4252;
}
